@font-face {
    font-family: 'EurostileLTStdMedium';
    src: url('eurostileltstd.eot');
    src: url('eurostileltstd.eot') format('embedded-opentype'),
         url('eurostileltstd.woff') format('woff'),
         url('eurostileltstd.ttf') format('truetype'),
         url('eurostileltstd.svg#EurostileLTStdMedium') format('svg');
}
